
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

#toHomeBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: rgb(7, 99, 248);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#toHomeBtn a {
    display: block;
    text-decoration: none;
}

#toHomeBtn a img {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    color: white;
}



